/*content*/
.content{
	width: 100%;

}
.create_title{
	font-size: 24px;
	color: #1abc9c;
	margin-left: 25px;
	line-height: 50px;
}
.create_detail{
	margin-top: 30px;
	width: 670px;
	padding-top: 75px;
	padding-left: 150px;
	background-color: #cee4e0;
	padding-bottom: 50px;
}
.create_process{
	color: #3b3b3b;
	margin-left: 25px;
	line-height: 50px;
}
.create_process a{
	color: #1abc9c;
	font-weight: bold;
}
.step{
	margin: 100px 0 0 0;
}
.previous,.next{
	width: 136px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
	background-color: #1abc9c;
}

.invite_detailb{
	color: #1abc9c;
	font-size: 24px;
	line-height: 50px;
}
.invite_details{
	color: #34495e;
	line-height: 40px;
}
.radio{
	width: 600px;
	line-height: 50px;
	font-size: 14px;
	font-family: "Arial";
	font-weight: bold;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.radio span{
	margin-left: 10px;
}	
.explain{
	color: #7f8c8d;
	font-size: 12px;
	margin-left: 30px;
}
.vip{
	margin-top: 20px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 20px;
}
.vip input{
	margin-left: 10px;
	margin-right: 5px;
	float: left;
}
.vip span{
	display: block;
	float: left;
	margin-right: 10px;
	line-height: 16px;
}